<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


<!-- PREFERENCES -->
    <!-- for gwt bridge (Spring integration) -->
    <bean class="org.workingonit.gwtbridge.GwtServicesRegistrar"/>
    <!-- / -->

    <aop:aspectj-autoproxy/>
<!-- /PREFERENCES -->

<!-- DAOs -->

    <bean name="userDao" class="qbix.sm.server.dao.UserDAOMock"/>

    <bean name="fileDao" class="qbix.sm.server.dao.FileDAOMock"/>

    <bean name="categoryDao" class="qbix.sm.server.dao.CategoryDAOMock"/>

<!-- /DAOs -->

<!-- Services -->

    
    <bean name="FCService" class="qbix.sm.server.services.FCServiceImpl">
        <property name="fileDAO" ref="fileDao"/>
        <property name="categoryDAO" ref="categoryDao"/>
    </bean>

    <bean name="userservice" class="qbix.sm.server.services.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
<!-- /Services -->

<!-- Loggers -->
 
</beans>
