<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>baseGwtPage.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/ErrorPage.html</location>
    </error-page>
    <!-- FOR SPRING (basic ContextLoaderListener) -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <!-- /FOR SPRING -->
    <!-- GWT Bridge (Spring integration) -->
    <servlet>
        <servlet-name>gwtbridge</servlet-name>
        <servlet-class>org.workingonit.gwtbridge.GwtBridgeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>gwtbridge</servlet-name>
        <url-pattern>*.rpc</url-pattern>
    </servlet-mapping>
   
    <!-- /GWT Bridge (Spring integration) -->
    <!-- сервлеты с маппингами добавлять сюда!(по умолч вставляет  в разные места - потом трудно разобраться)
     в общем СЛЕДИТЬ! -->
    <servlet>
        <servlet-name>SessionService</servlet-name>
        <servlet-mapping>
            <servlet-name>UserService</servlet-name>
            <url-pattern>/qbix.sm.Main/userservice.rpc</url-pattern>
        </servlet-mapping>
        <servlet-class>qbix.sm.server.services.SessionServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionService</servlet-name>
        <url-pattern>/qbix.sm.Main/services/sessionservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserService</servlet-name>
        <servlet-class>qbix.sm.server.services.UserServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserService</servlet-name>
        <url-pattern>/qbix.sm.Main/userservice</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>FileAndCategoryService</servlet-name>
        <url-pattern>/qbix.sm.Main/services/FCService.rpc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileAndCategoryService</servlet-name>
        <servlet-class>qbix.sm.server.services.FCServiceImpl</servlet-class>
    </servlet>
</web-app>
